---
layout: default
---
<h1>{{ page.title }}</h1>

<p>
{% assign author = site.authors | where: 'title', page.author | first %}
{% if author %}
  <a href="{{ author.url }}">{{ author.title }}</a>
{% endif %}
</p>

{{ content }}